body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.titulo{
    color: #32b9cd;
    width: fit-content;
    font-weight: bolder;
}

.navbar{
    width: 300px;
    color: #e3b062;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: #e3b062;
    text-decoration: none;
}

.navbar a:hover{
    color: #32b9cd;
}

.header{
    border-bottom: 3px solid #32b9cd;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container{
    justify-content: space-between;
}

/* BANNER */

.banner{
    background-image: url('./assets/imagens/bg-jelly-fish-para_outras_pags.png');
    height: 500px;
    color: white;
}

.banner .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p{
    font-size: 32px;
    width: 200px;
}

/* SOCIAL */

.social{
    background-color: #f7f7f7;
    height: 500px;
}

.social .container{
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.social .container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.social .container .box img{
    width: 100px;
}

.social .container .box p{
    width: 400px;
}

.footer{
    background-color: #32b9cd;
    color: #FFF;
}

.footer .container{
    justify-content: center;
    text-align: center;
}

.form{
    height: 500px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
   background-image: url('./assets/imagens/bg-jelly-fish-para_outras_pags.png');
}

.form .container{
    width: 28%;
    height: 85%;
    margin: 15px;

    flex-direction: column;
    
    border-radius: 6px;
    background-color: rgb(229, 229, 229);
}

.form .container .box{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.box label{
    display: flex;
    flex-direction: column;

    color: #DB7093;
    font-weight: 700;
}

.box input{
    height: 35px;
    width: 200px;

    outline: none;
    text-align: center;
    
    border-radius: 10px;
    border: 2px solid #38BBCF;
}

.button{
    height: 40px;
    width: 120px;
    background-color: rgb(230, 0, 90);

    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;

    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.span_msg{
    margin: 20px;

    font-size: 24px;
    color: #DB7093;
    font-weight: bolder;
}
